<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79AA59D51E7108AB00D58793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79AA59E91E7108AB00D58793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79AA59F41E7108AB00D58793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
